form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
button {
    /* margin é em todas as direções no sentido horario: top, right, bottom, left*/
    margin: 20px 15px 0px 0px;
}