.home .title {
    font-size: 3rem; /*rem é uma referencia com as configurações do navegador para o tamanho não ficar fixo */
    font-weight:  300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1em; /* "em" é uma referencia ao tamanho definico o contener pai */
    
}
